# Build artifacts
build/
install/
log/

# IDE
.vscode/
.idea/

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/

# OS
.DS_Store
Thumbs.db

# Colcon test results
build/*/test_results/

# ROS bags
*.db3
*.mcap

#zhou_mi_ignore
perception_doc/
project_documentation.md
yolov8n.onnx
yolov8n.pt

bags/
classifier/bert_intent_output/model.safetensors
classifier/bert_intent_output/training_args.bin


